Markdown is just text. **But** :red[you] *can* :green[also] make it :blue[fancy]

# Add Rows to Flower Detail Table
Edit the "set" cells to update the variables, then click "Run All" in the top left corner.

In [ ]:
set rdc = 'S';

In [ ]:
set fn = 'Lilac';

In [ ]:
select $fn, $rdc;

In [ ]:
insert into garden_plants.flowers.flower_details
select $fn, $rdc;

In [ ]:
set rdc = 'D';
set fn = 'Sunflower';

insert into garden_plants.flowers.flower_details
select $fn, $rdc;

In [ ]:
set rdc = 'S';
set fn = 'Lavender';

insert into garden_plants.flowers.flower_details
select $fn, $rdc;

In [ ]:
set rdc = 'M';
set fn = 'Tulip';

insert into garden_plants.flowers.flower_details
select $fn, $rdc;

In [ ]:
select * from garden_plants.flowers.flower_details

If a mistake is made

delete from garden.plants.flowers.flowers_details
where plant_name = 'Sunflower' and root_depth_code = 'S'